* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #800a2d;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #520d1e;
  color: #fff;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.description {
  padding: 60px 10%;
  text-align: center;
}

.description h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #ffa9c6;
}

.description p {
  font-size: 18px;
  color: #ffffff;
}

.blogs {
  padding: 40px 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.blog-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform .3s;
}

.blog-card:hover {
  transform: translateY(-8px);
}

.blog-card h3 {
  margin-bottom: 10px;
}

.blog-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.blog-card a {
  text-decoration: none;
  color: #2563eb;
  font-weight: 600;
}

footer {
  background: #111827;
  color: #ccc;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

@media(max-width:600px) {
  .hero h2 {
    font-size: 28px;
  }
}

.menu-btn {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  nav {
    position: absolute;
    top: 70px;
    right: 10%;
    background: #111827;
    flex-direction: column;
    width: 200px;
    display: none;
    border-radius: 10px;
    padding: 15px;
  }

  nav a {
    padding: 10px 0;
  }

  nav.show {
    display: flex;
  }
}